<!-- Header -->
<header class="main-header " id="header">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <nav class="navbar navbar-static-top navbar-expand-md bg-dark navbar-dark" style="background-image: url(.../static/image/login.jpg);">
        <!-- Sidebar toggle button -->
        <button id="sidebar-toggler" class="sidebar-toggle">
            <span class="brand-name" style="font-family: Roboto, sans-serif; font-size: 20pt"> FLY WEBSITE</span>
        </button>
        <!-- Brand -->
        <a class="navbar-brand" href="/"></a>
    </nav>

</header>