<aside class="left-sidebar bg-sidebar">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>

    <div id="sidebar" class="sidebar sidebar-with-footer">

        <!-- Aplication Brand -->
        <div class="app-brand">
            <a href="/employee" title="Dashboard">
                <div class="logo-details">
                    <i class='bx bxs-plane-alt bx-md' style='margin-top: 16pt; color:#ffffff'></i>
                </div>
                <span class="brand-name nav-text">Home</span>
            </a>
        </div>

        <!-- begin sidebar scrollbar -->
        <div class="sidebar">

            <!-- sidebar menu -->
            <ul class="nav sidebar-inner" id="sidebar-menu">
                <li class="has-sub active expand">
                    <a class="sidenav-item-link" href="/flight-list?isEmp=1"
                       aria-expanded="false" aria-controls="tables">
                        <i class='bx bx-spreadsheet' style='color:#ffffff'></i>
                        <span class="nav-text">Flight list</span>
                    </a>
                </li>

                <li class="has-sub active expand">
                    <a class="sidenav-item-link" href="/manage-flight-route"
                       aria-expanded="false" aria-controls="tables">
                        <i class='bx bxs-calendar-week' style='color:#ffffff'></i>
                        <span class="nav-text">Flight route</span>
                    </a>
                </li>

                <li class="has-sub active expand">
                    <a class="sidenav-item-link" href="/manage-customer"
                       aria-expanded="false" aria-controls="tables">
                        <i class='bx bxs-user-detail' style='color:#ffffff'  ></i>
                        <span class="nav-text">Customer</span>
                    </a>
                </li>
            </ul>
            <ul class="nav sidebar-inner custom-sidebar">
                {% if current_user.is_authenticated %}
                <li class="has-sub active expand">
                    <a class="sidenav-item-link text-white" style="font-size: 13px" href="/profileEmp">
                        <i class='bx bxs-user-circle' style='color:#ffffff'></i>
                        <span class="nav-text">{{current_user.employeeName}}</span>
                    </a>
                </li>
                <li class="has-sub active expand">
                    <a class="nav-text" href="/logout-employee">
                        <i class='bx bxs-log-out-circle bx-sx' style='color:#ffffff'></i>
                        <span class="nav-text"> Log out</span>
                    </a>
                </li>
                {% else %}
                <li class="has-sub active expand">
                    <a class="nav-link" href="/login-employee">
                        <i class='bx bxs-log-in-circle bx-sx' style='color:#ffffff'></i>
                        <span class="nav-text"> Sign in</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </div>
    </div>
</aside>