*{
    padding : 0;
    margin : 0;
    box-sizing: border-box;
    outline : none;
}
h2{
    text-align :center;
    padding : 10px;
    font-size : 30px;
    color : #1b223c;
}

.form{
    margin :0 100px;
}
.form-group{
    color : #000000;
}
.topic-table{
    padding : 10px 30px 10px;
    background-color : #add8de;
    margin :0 auto;
    width : 100%;
    font-size : 15px;
}

/*CSS.TABLE*/
.table-fixed thead th{
    text-align : center;
    padding : 5px 0;

}
.table-fixed{
    min-width : 100%;
}
.table-fixed thead,
.table-fixed thead th{
    background: #1b223c;
    color : white;
}

.table-fixed tbody td,
.table-fixed thead th {
    font-size : 15px;
    text-align : center;
    border-top: none;
    border-bottom: none;
}

.table-fixed tbody td{
    display: block;
}

.table-fixed .col1{
    width : 6.5%;

}
.table-fixed .col2{
    width : 16%;
}
.table-fixed .col3{
    width : 20%;
}

.table-fixed tbody {
    display : block;
    height : 250px;
    overflow-y :auto;
    color : #1b223c;
}
.table-fixed tr{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.button {
    padding: 10px;
}

.add-btn {
    background: #1b223c;
    box-shadow: none;
    border: none
}

.add-btn:hover {
    background: #2a355d;
}

.add-btn: focus {
    background: #1b223c;
    box-shadow: none
}

.add-btn: active {
    background: #1b223c;
    box-shadow: none
}